<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BulletSharp" version="0.9" targetFramework="net461" />
  <package id="MIConvexHull" version="1.1.16.0905" targetFramework="net461" />
  <package id="OpenTK" version="2.0.0" targetFramework="net461" />
  <package id="SharpDX" version="3.0.2" targetFramework="net461" />
  <package id="StarMath" version="2.0.16.0529" targetFramework="net461" />
  <package id="TVGL" version="1.0.16.0905" targetFramework="net461" />
</packages>